.latest {
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: start;
    justify-content: start;
    width: 100%;
    h1{
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        padding-left: 150px;
        span{
            color: #111;
            font-weight: 900;
            border-bottom: 1px solid;
        }
    }
    .latest-wrap {
        gap: 50px;
        width: 100%;
        justify-content: center;
        margin-top: 10vh;
        flex-wrap: wrap;
        .card {
            border-radius: 10px;
            position: relative;
            background: #eeeeee7e;
            overflow: hidden;
            img{
                width: 320px;
                height: 28  0px;
                background: white;
            }
           
            .menus{
                width: 100%;
                height: 100%;
                position: absolute;
                gap: 10px;
                background: rgba($color: #111, $alpha: 0.5);
                backdrop-filter: blur(20px);
                max-width: 0;
                transition: .3s;
                overflow: hidden;
                .price {
                    width: auto;
                    height: auto;
                    border: none;
                    position: relative;
                    color: white;
                    cursor: none;
                    p{
                        transition: .3s;
                        font-size: 1.5rem;
                    }
                }
               .icons{
                gap: 20px;
                max-width: 60%;
                .icon{
                    color: white;
                    font-size: 2rem;
                    cursor: pointer;
                }
               }
            }
        }
        .card:hover {
            .menus {
                max-width: 100%;
                .price{
                    p{
                        font-size: 2rem;
                    }
                }
            }
        }
        
    }
}